*{
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.container{
    background-color: rgb(138, 7, 7);
    height: fit-content;
    padding: 5px 15px;
    display: block;
    margin-top: 30px;
    border-radius: 5px;
}
.names{
    text-align: center;
    display: block;
    
}
.names h1{
    font-weight: 900;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.3px;
}
.names p {
    margin-top: -25px;
    color: #c7c2c2;
}

.dropback{
    background: rgb(124, 21, 21) url('imgs/1.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-blend-mode: overlay;
    padding: 10px 0;
    
}
.figure{
    text-align: center;
    
}
.figure img{
    width: 67%;
    height: 80vh;
}
.figure p{
    font-size: 12px;
}
.history{
    width: 80vw;
    margin: 0px auto;
}
.topic{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin: 50px 0px;
}
.point-list{
    font-size: 12px;
    margin: 0 26%;
    
}
li{
    line-height: 1.6;
    margin: 16px 0;
}
.quote{
    padding: 12px auto;
    font-size: 12px;
    font-style: italic;
    
}
.quote p{
    text-align:left;
    margin: 12px 4%;
}
